@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

@layer utilities {
  .navbar {
    @apply flex flex-row gap-3 bg-[#282829] border-[#383838] border-1 border-t-0 border-r-0 rounded-bl-3xl rounded-tr-3xl p-4 text-center w-fit;
  }
  .navbar button{
    @apply bg-transparent border-none px-4;
  } 
  .navbar button:hover{
    @apply text-white/60;
  } 

  .left-section {
    @apply flex flex-col gap-3 text-white p-4 text-center w-69 h-fit border-1 border-[#383838] rounded-3xl bg-[#1E1E1F] shadow-2xl;
  }
  .right-section {
    @apply text-white px-8 w-4xl border-1 border-[#383838] rounded-3xl bg-[#1E1E1F] shadow-2xl mb-6;
  }

  .status {
    @apply bg-[#282829] border-[#383838] border-1 rounded-xl text-xs w-fit px-3 py-1 m-auto;
  }

  .left-block {
    @apply flex flex-row gap-2 text-sm ml-3;
  }
  .left-block img{
    @apply w-15 h-15 border-1 border-[#383838] rounded-lg p-3;
  }
  .left-block-info {
    @apply flex flex-col text-left my-auto overflow-hidden;
  }
  .left-block-info h3{
    @apply text-white/60;
  }
  .left-block-info p{
    @apply overflow-hidden text-ellipsis;
  }

  .social-logo {
    @apply w-6 h-6;
  }

  .divider {
    @apply h-[1px] w-4/5 bg-[#383838] m-auto my-3;
  }
  .big-divider {
    @apply h-2 w-1/12 bg-[#714CDF] rounded-full mb-6;
  }

  .content-title {
    @apply text-4xl font-bold mb-4 mt-12;
  }
  .content-subtitle {
    @apply text-3xl font-bold mb-3;
  }
  .content-text {
    @apply text-base;
  }

  .about-cards-grid {
    @apply grid grid-cols-2 grid-rows-2 gap-4 mb-6;
  }
  .about-card {
    @apply flex flex-row rounded-xl border-transparent bg-gradient-to-br from-[#282829] via-[#282829] to-[#1E1E1F] shadow-xl;
  }
  .about-card img{
    @apply w-15 h-15 bg-transparent m-2 mb-10;
  }
  .about-card h2{
    @apply text-xl font-bold;
  }
  .about-card p{
    @apply text-white/60 text-sm;
  }
  .about-card div{
    @apply mt-3;
  }

  .about-skills-layout {
   @apply flex flex-row gap-3 flex-wrap justify-center mb-18; 
  }
  .about-skill {
    @apply h-fit w-26 rounded-lg border-transparent bg-gradient-to-br from-[#282829] via-[#282829] to-[#1E1E1F] shadow-[1px_2px_3px_0px] shadow-[#714CDF];
  }
  .about-skill p{
    @apply text-sm text-center m-auto p-1.5;
  }

  .projects-navbar {
    @apply flex flex-row bg-transparent mb-6;
  }
  .projects-navbar button{
    @apply bg-transparent border-none text-base;
  }
  .projects-navbar button:hover{
    @apply text-white/60;
  }

  .projects-grid{
    @apply grid grid-cols-3 gap-6 mb-18;
  }
  .project-card{
    @apply flex flex-col rounded-xl border-transparent shadow-xl;
  }
  .project-card img{
    @apply mb-3 h-40 w-full mx-auto bg-amber-50 rounded-xl;
  }
  .project-card h3{
    @apply text-xl font-bold;
  }
  .project-card p{
    @apply text-base text-white/60;
  }

  .download-cv{
    @apply absolute bottom-8 right-8 bg-[#282829] text-[#714CDF] px-6 py-3 rounded-xl shadow-xl;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
